* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

header {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color:#d8d3c7;
    align-items: center;
    border: whitesmoke solid;
    border-width: 20px;

}

img {
    margin: 0px;
}
h1 { 
    margin-top: 0px;
    
}

nav {
    float:inline-end;
} 


ul {
    list-style-type: none;
    display:flex;
    margin: 0 0 10 0;
    padding: 0;
    
}

#about-me, #my-work, #resume, #contact-me {
    padding-inline: 10px;
    justify-content: right;
    
}


#bio {
    line-height: 150%;
    border: 1px;
    border-style: solid;
    padding: 20px;
    border: whitesmoke solid;
    border-width: 15px;
    margin: 10px;
    background-color:#d8d3c7;
}

#projects {

    line-height: 150%;
    border: 1px;
    border-style: solid;
    padding: 20px;
    margin: 20px;
    border: whitesmoke solid;
    border-width: 15px;
    margin: 10px;
    background-color:#d8d3c7;
    
    
}
.projects-inner-container {
    display: flex;
    justify-content: space-evenly;
    display:inline-block;
    justify-content:space-between;
}
figcaption {
    display:inline-block;

}
#resume-updated {
    line-height: 150%;
    border: 1px; 
    border-style: solid;
    padding: 20px;
    margin: 20px;
    border: whitesmoke solid;
    border-width: 15px;
    margin: 10px;
    background-color:#d8d3c7;
}

#contact {
    line-height: 150%;
    border: 1px;
    border-style: solid;
    padding: 20px;
    margin: 20px;
    border: whitesmoke solid;
    border-width: 15px;
    margin: 10px;
    background-color:#d8d3c7;

}


#GitHub {
    padding-inline: 20px; 
    margin: 20px;
}


#Email {
    padding-inline: 20px;
    margin: 20px;
}

#LinkedIn {
    padding-inline: 20px;
    margin: 20px;
}


footer {
    display: flex;
    border: 1px solid;
    padding: 20px;
    margin: 20px;
    background-color:#d8d3c7;
    justify-content: center;
    border: whitesmoke solid;
    border-width: 15px;
    margin: 10px;
}

